<!DOCTYPE html>
<html ng-app="wexApp">
  <head>
    <title>WYLog Extranet</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900&amp;subset=latin,greek,greek-ext,vietnamese,cyrillic-ext,latin-ext,cyrillic" rel="stylesheet" type="text/css">
  
  <!-- bower should be injected -->
  <link rel="stylesheet" href="../bower_components/Ionicons/css/ionicons.css" />
  <link rel="stylesheet" href="../bower_components/angular-toastr/dist/angular-toastr.css" />
  <link rel="stylesheet" href="../bower_components/animate.css/animate.css" />
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="../bower_components/bootstrap-select/dist/css/bootstrap-select.css" />
  <link rel="stylesheet" href="../bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css" />
  <link rel="stylesheet" href="../bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" />
  <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="../bower_components/fullcalendar/dist/fullcalendar.css" />
  <link rel="stylesheet" href="../bower_components/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="../bower_components/angular-progress-button-styles/dist/angular-progress-button-styles.min.css" />
  <link rel="stylesheet" href="../bower_components/chartist/dist/chartist.min.css" />
  <link rel="stylesheet" href="../bower_components/morris.js/morris.css" />
  <link rel="stylesheet" href="../bower_components/ionrangeslider/css/ion.rangeSlider.css" />
  <link rel="stylesheet" href="../bower_components/ionrangeslider/css/ion.rangeSlider.skinFlat.css" />
  <link rel="stylesheet" href="../bower_components/textAngular/dist/textAngular.css" />
  <link rel="stylesheet" href="../bower_components/angular-xeditable/dist/css/xeditable.css" />
  <link rel="stylesheet" href="../bower_components/jstree/dist/themes/default/style.css" />
  <link rel="stylesheet" href="../bower_components/angular-ui-select/dist/select.css" />
	
    <link rel='stylesheet' href='/css/blur-main.css' />
	<link rel='stylesheet' href='/css/style.css' />
  </head>
  <body class="blur-theme">
	<wex-header></wex-header>
<!--	<wex-sidebar></wex-sidebar>-->
	<ba-sidebar></ba-sidebar>
	<div class="al-main">
		<div class="al-content">
			<wex-contenttop></wex-contenttop>
			<div autoscroll="true" autoscroll-body-top ng-view>
			</div>
		</div>
	</div>
	<wex-footer></wex-footer>

<!-- bower should be injected -->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/jquery-ui/jquery-ui.js"></script>
<script src="../bower_components/jquery.easing/js/jquery.easing.js"></script>
<script src="../bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.js"></script>
<script src="../bower_components/chart.js/dist/Chart.js"></script>
<script src="../bower_components/amcharts/dist/amcharts/amcharts.js"></script>
<script src="../bower_components/amcharts/dist/amcharts/plugins/responsive/responsive.min.js"></script>
<script src="../bower_components/amcharts/dist/amcharts/serial.js"></script>
<script src="../bower_components/amcharts/dist/amcharts/funnel.js"></script>
<script src="../bower_components/amcharts/dist/amcharts/pie.js"></script>
<script src="../bower_components/amcharts/dist/amcharts/gantt.js"></script>
<script src="../bower_components/amcharts-stock/dist/amcharts/amstock.js"></script>
<script src="../bower_components/ammap/dist/ammap/ammap.js"></script>
<script src="../bower_components/ammap/dist/ammap/maps/js/worldLow.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<script src="../bower_components/slimScroll/jquery.slimscroll.js"></script>
<script src="../bower_components/angular-slimscroll/angular-slimscroll.js"></script>
<script src="../bower_components/angular-smart-table/dist/smart-table.js"></script>
<script src="../bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
<script src="../bower_components/angular-touch/angular-touch.js"></script>
<script src="../bower_components/angular-ui-sortable/sortable.js"></script>
<script src="../bower_components/bootstrap/js/dropdown.js"></script>
<script src="../bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
<script src="../bower_components/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
<script src="../bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.js"></script>
<script src="../bower_components/moment/moment.js"></script>
<script src="../bower_components/fullcalendar/dist/fullcalendar.js"></script>
<script src="../bower_components/leaflet/dist/leaflet-src.js"></script>
<script src="../bower_components/angular-progress-button-styles/dist/angular-progress-button-styles.min.js"></script>
<script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="../bower_components/angular-chart.js/dist/angular-chart.js"></script>
<script src="../bower_components/chartist/dist/chartist.min.js"></script>
<script src="../bower_components/angular-chartist.js/dist/angular-chartist.js"></script>
<script src="../bower_components/eve-raphael/eve.js"></script>
<script src="../bower_components/raphael/raphael.min.js"></script>
<script src="../bower_components/mocha/mocha.js"></script>
<script src="../bower_components/morris.js/morris.js"></script>
<script src="../bower_components/angular-morris-chart/src/angular-morris-chart.min.js"></script>
<script src="../bower_components/ionrangeslider/js/ion.rangeSlider.js"></script>
<script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<script src="../bower_components/rangy/rangy-core.js"></script>
<script src="../bower_components/rangy/rangy-classapplier.js"></script>
<script src="../bower_components/rangy/rangy-highlighter.js"></script>
<script src="../bower_components/rangy/rangy-selectionsaverestore.js"></script>
<script src="../bower_components/rangy/rangy-serializer.js"></script>
<script src="../bower_components/rangy/rangy-textrange.js"></script>
<script src="../bower_components/textAngular/dist/textAngular.js"></script>
<script src="../bower_components/textAngular/dist/textAngular-sanitize.js"></script>
<script src="../bower_components/textAngular/dist/textAngularSetup.js"></script>
<script src="../bower_components/angular-xeditable/dist/js/xeditable.js"></script>
<script src="../bower_components/jstree/dist/jstree.js"></script>
<script src="../bower_components/ng-js-tree/dist/ngJsTree.js"></script>
<script src="../bower_components/angular-ui-select/dist/select.js"></script>	
	
<!--	
	<script src="/app/core/vendor/angular.min.js"></script>
	<script src="/app/core/vendor/angular-route.min.js"></script>
-->	
	
	<!-- BlurAdmin module -->
<script src="/app/theme/BlurAdmin/theme.module.js"></script>
<script src="/app/theme/BlurAdmin/components/components.module.js"></script>
<script src="/app/theme/BlurAdmin/inputs/inputs.module.js"></script>

<!-- used to define global constant -->
<script src="/app/settings/wex.settings.module.js"></script>

	<!-- App & routing -->
	<script src="/app/wex.js"></script>
	<script src="/app/wex.routing.js"></script>
	
	<script src="/app/theme/BlurAdmin/theme.config.js"></script>
	<script src="/app/theme/BlurAdmin/theme.configProvider.js"></script>
	<script src="/app/theme/BlurAdmin/theme.constants.js"></script>
	<script src="/app/theme/BlurAdmin/theme.run.js"></script>
	<script src="/app/theme/BlurAdmin/theme.service.js"></script>	

	<script src="/app/theme/BlurAdmin/components/toastrLibConfig.js"></script>
	<script src="/app/theme/BlurAdmin/directives/animatedChange.js"></script>
	<script src="/app/theme/BlurAdmin/directives/autoExpand.js"></script>
	<script src="/app/theme/BlurAdmin/directives/autoFocus.js"></script>
	<script src="/app/theme/BlurAdmin/directives/includeWithScope.js"></script>
	<script src="/app/theme/BlurAdmin/directives/ionSlider.js"></script>
	<script src="/app/theme/BlurAdmin/directives/ngFileSelect.js"></script>
	<script src="/app/theme/BlurAdmin/directives/scrollPosition.js"></script>
	<script src="/app/theme/BlurAdmin/directives/trackWidth.js"></script>
	<script src="/app/theme/BlurAdmin/directives/zoomIn.js"></script>
	<script src="/app/theme/BlurAdmin/services/baProgressModal.js"></script>
	<script src="/app/theme/BlurAdmin/services/baUtil.js"></script>
	<script src="/app/theme/BlurAdmin/services/fileReader.js"></script>
	<script src="/app/theme/BlurAdmin/services/preloader.js"></script>
	<script src="/app/theme/BlurAdmin/services/stopableInterval.js"></script>
	<script src="/app/theme/BlurAdmin/components/backTop/backTop.directive.js"></script>
	<script src="/app/theme/BlurAdmin/components/baPanel/baPanel.directive.js"></script>
	<script src="/app/theme/BlurAdmin/components/baPanel/baPanel.service.js"></script>
	<script src="/app/theme/BlurAdmin/components/baPanel/baPanelBlur.directive.js"></script>
	<script src="/app/theme/BlurAdmin/components/baPanel/baPanelBlurHelper.service.js"></script>
	<script src="/app/theme/BlurAdmin/components/baPanel/baPanelSelf.directive.js"></script>

	<script src="/app/partials/baSidebar/baSidebar.directive.js"></script>
	<script src="/app/partials/baSidebar/baSidebar.service.js"></script>
	<script src="/app/partials/baSidebar/BaSidebarCtrl.js"></script>
	<script src="/app/partials/baSidebar/baSidebarHelpers.directive.js"></script>
	
	<script src="/app/theme/BlurAdmin/components/baWizard/baWizard.directive.js"></script>
	<script src="/app/theme/BlurAdmin/components/baWizard/baWizardCtrl.js"></script>
	<script src="/app/theme/BlurAdmin/components/baWizard/baWizardStep.directive.js"></script>
	<script src="/app/theme/BlurAdmin/components/contentTop/contentTop.directive.js"></script>
	<script src="/app/theme/BlurAdmin/components/msgCenter/msgCenter.directive.js"></script>
	<script src="/app/theme/BlurAdmin/components/msgCenter/MsgCenterCtrl.js"></script>
	<script src="/app/theme/BlurAdmin/components/pageTop/pageTop.directive.js"></script>
	<script src="/app/theme/BlurAdmin/components/progressBarRound/progressBarRound.directive.js"></script>
	<script src="/app/theme/BlurAdmin/components/widgets/widgets.directive.js"></script>
	<script src="/app/theme/BlurAdmin/filters/image/appImage.js"></script>
	<script src="/app/theme/BlurAdmin/filters/image/kameleonImg.js"></script>
	<script src="/app/theme/BlurAdmin/filters/image/profilePicture.js"></script>
	<script src="/app/theme/BlurAdmin/filters/text/removeHtml.js"></script>
	<script src="/app/theme/BlurAdmin/inputs/baSwitcher/baSwitcher.js"></script>
	<script src="/app/theme/BlurAdmin/components/backTop/lib/jquery.backTop.min.js"></script>

	<!-- partials -->
	<script src="/app/partials/contenttop/directives/wexContenttop.js"></script>
	
	<script src="/app/partials/formactionbtn/directives/wexFormActionBtn.js"></script>
	
	<script src="/app/partials/header/directives/wexHeader.js"></script>
	
	<script src="/app/partials/mailto/directives/wexMailto.js"></script>	
	
	<script src="/app/partials/modalconfirm/controllers/ModalConfirmCtrl.js"></script>
	<script src="/app/partials/modalconfirm/directives/wexModalConfirm.js"></script>	
<!--	
	<script src="/app/partials/sidebar/controllers/SidebarCtrl.js"></script>
	<script src="/app/partials/sidebar/directives/wexSidebar.js"></script>
-->
	
	<!-- core -->
	<script src="/app/core/services/Entity.js"></script>
	<script src="/app/core/services/Auth.js"></script>	
	
	<!-- Dashboard module -->
	<script src="/app/dashboard/wex.dashboard.module.js"></script>
	<script src="/app/dashboard/wex.dashboard.routing.js"></script>
	<script src="/app/dashboard/controllers/DashboardCtrl.js"></script>
	
	<!-- Todo module -->
	<script src="/app/todo/wex.todo.module.js"></script>
	<script src="/app/todo/wex.todo.routing.js"></script>
	<script src="/app/todo/controllers/TodoCtrl.js"></script>
	<script src="/app/todo/services/Todo.js"></script>
	
	<!-- User module -->
	<script src="/app/user/wex.user.module.js"></script>
	<script src="/app/user/wex.user.routing.js"></script>
	<script src="/app/user/controllers/UserCtrl.js"></script>
	<script src="/app/user/services/User.js"></script>
	
	<!-- Settings module -->
	<script src="/app/settings/wex.settings.module.js"></script>
	<script src="/app/settings/wex.settings.routing.js"></script>
	<script src="/app/settings/role/controllers/RoleCtrl.js"></script>
	<script src="/app/settings/role/services/Role.js"></script>
	<script src="/app/settings/crm/controllers/SettingsCrmCtrl.js"></script>
	<script src="/app/settings/crm/services/ProjectType.js"></script>
	<script src="/app/settings/crm/services/Activity.js"></script>

	<!-- CRM modules -->
	<script src="/app/crm/wex.crm.module.js"></script>
	<script src="/app/crm/wex.crm.routing.js"></script>
	<script src="/app/crm/client/controllers/ClientCtrl.js"></script>
	<script src="/app/crm/client/services/Client.js"></script>	
	<script src="/app/crm/project/controllers/ProjectCtrl.js"></script>
	<script src="/app/crm/project/services/Project.js"></script>
	
	<!-- Production modules -->
	<script src="/app/production/wex.production.module.js"></script>
	<script src="/app/production/wex.production.routing.js"></script>
	<script src="/app/production/wex.production.filters.js"></script>
	<script src="/app/production/assignment/controllers/AssignmentCtrl.js"></script>
	<script src="/app/production/assignment/services/Assignment.js"></script>	
	
  </body>
</html>
