<div class="widgets">
	<div class="row">
		<div class="col-md-12" ba-panel ba-panel-title="{{title}} ({{entities.length}})" ba-panel-class="with-scroll" ba-panel-right-link="#/crm/project/create" ba-panel-button-class="btn-success" ba-panel-right-icon="ion-plus">
			<div class="horizontal-scroll">
			  <table class="table table-hover" st-table="entities" st-safe-src="entities_safe">
				<thead>
					<tr class="sortable ">
						<th class="table-id" st-sort="id" st-sort-default="true">#</th>
						<th st-sort="name">Nom</th>
						<th st-sort="client.name">Client</th>
						<th st-sort="project_type.name">Type</th>
						<th></th>
					</tr>
					<tr>
						<th></th>
						<th><input st-search="name" placeholder="Search Name" class="input-sm form-control search-input"
								 type="search"/></th>
						<th><input st-search="client.name" placeholder="Search Client" class="input-sm form-control search-input"
								 type="search"/></th>
						<th><input st-search="project_type.name" placeholder="Search Type" class="input-sm form-control search-input"
								 type="search"/></th>								 
						<th></th>
					</tr>
				</thead>
				<tbody>
				<tr ng-repeat="project in entities">
					<td class="table-id">{{todo.id}}</td>
					<td>{{project.name}}</td>
					<td>{{project.client.name}}</td>
					<td>{{project.project_type.name}}</td>
					<td style="padding-right:0!important;" class="text-right">
						<a ng-href="#/crm/project/edit/{{project._id}}" class="btn btn-xs btn-info"><i class="icon ion-edit"></i></a> 
						<a wex-modal-confirm-message="Etes-vous sur de vouloir supprimer [{{project.name}}] ?" wex-modal-confirm="delete(project._id)" class="btn btn-xs btn-danger"><i class="icon ion-close-round"></i></a>
					</td>
				</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="4">
							<div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
						</td>
					</tr>
				</tfoot>
			  </table>
			</div>		
		</div>
	</div>
</div>