<div ba-panel ba-panel-title="Liste des activités" ba-panel-class="with-scroll" class="activity">
	<div class="vertical-scroll">
		<table class="table table-striped">
			<thead>
				<tr>
				  <th class="table-id">#</th>
				  <th>Nom</th>
				  <th>Type de projet</th>
				  <th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="activity in entities">
					<td class="table-id">{{activity.id}}</td>
					<td>{{activity.name}}</td>
					<td>{{activity.project_type.name}}</td>
					<td class="text-right">
						<a class="btn btn-xs btn-info" ng-click="edit(activity._id, $index)"><i class="icon ion-edit"></i></a> 
						<a wex-modal-confirm-message="Etes-vous sur de vouloir supprimer [{{activity.name}}] ?" wex-modal-confirm="delete(pt._id)" class="btn btn-xs btn-danger"><i class="icon ion-close-round"></i></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="separator"></div>
<div>
<form ng-submit="submit()" name="wexForm.form_activity">
	<div class="widgets">
		<div class="row">
			<div class="col-md-12"><h3><span ng-if="id">Editer</span><span ng-if="!id">Créer</span> une activité</h3></div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6 form-group"><input name="name" class="form-control" ng-model="data.activity.name" placeholder="Nom"/></div>
					<div class="col-md-6 form-group">
						<ui-select ng-model="data.activity.project_type"
								class="btn-group bootstrap-select form-control"
								ng-disabled="false"
								append-to-body="true"
								search-enabled="false">
							<ui-select-match placeholder="Type de projet">
								<span> {{$select.selected.name}}</span>
							</ui-select-match>
							<ui-select-choices repeat="project_type._id as project_type in projectTypes track by $index">
								<span ng-bind-html="project_type.name"></span>
							</ui-select-choices>
						</ui-select>
					</div>
				</div>
					
				<div class="btn-group" role="group">
					<button type="submit" class="btn btn-success">Valider</button>
					<button ng-click="cancel()" class="btn btn-default">Annuler</button>
				</div>
			</div>
		</div>
	</div>
</form>
</div>